// Scaffolding

$font-family-base: 'GloberBold', sans-serif;
$font-bebas-bold: 'Bebas Neue Bold', sans-serif;

// Scaffolding

//COLORS

$dark:#000;
$blue:#0198F3;

//COLORS

// Navbar

$navbar-height:100px;

// Navbar

$block-3-left:100px;