@import "variables";
@import "mixins";
@import "bootstrap";
@import "../libs/font-awesome/css/font-awesome.min.css";

body {
	font-family: $font-family-base;
	font-weight: normal;
}
@font-face {
font-family: 'Bebas Neue Bold';
font-style: normal;
font-weight: normal;
src: local('fonts/Bebas Neue Bold'), url('fonts/BEBASNEUE BOLD.woff') format('woff');
}
@font-face {
    font-family: "GloberThin";
    src: url("fonts/GloberThin/GloberThin.eot");
    src: url("fonts/GloberThin/GloberThin.eot?#iefix")format("embedded-opentype"),
    url("fonts/GloberThin/GloberThin.woff") format("woff"),
    url("fonts/GloberThin/GloberThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GloberBold";
    src: url("fonts/GloberBold/GloberBold.eot");
    src: url("fonts/GloberBold/GloberBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/GloberBold/GloberBold.woff") format("woff"),
    url("fonts/GloberBold/GloberBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.btn{
	@include button-variant(#fff, #009fff, #009fff);	
	@include button-size(10px, 35px, 16px, 1em, 1px);
}
//HEADER
nav {
	background-color: $dark;
	height: 90px;
	line-height: 90px;
}
.navbar-brand {
	padding: 25px 15px; 
}
.logo {
	height: 100%;
}
.phone-header {
	color: #fff;
	font-size: 18px;
}

//HEADER

.block-top {
	background-image: url(../img/BG_top.jpg);
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: relative;
	&-offer {
			
		height: 100vh;
		position: relative;
		width: 100%;
		&-text {
			color: #fff;
			font-size: 42px;
			font-weight: 700;
			font-family: $font-bebas-bold;
			text-transform: uppercase;
			@include centerer(false, true);
			i {
				font-weight: 300;
				font-size: 28px;
			}
			ul {
				padding-left: 0;
				li {
				list-style-type: none;
				font-size: 20px;
				text-transform: none;
				font-family: $font-family-base;
				font-weight: 400;
				span {
					color:$blue;
				}
			}
			}
		}	
	}
	&-form{
		@include centerer(false, true);
		background: rgba(255,255,255,.6);
		width: 100%;
		margin: auto;
		text-align: center;
		padding: 40px 10px;
		.form-group{padding: 0 20px;}
	}
}

.navbar-button {
	margin-right: 55px;	
}

.block-2 {
	background: url(../img/BG2.jpg) no-repeat top center;
	background-size: cover;
	//max-height: 100vh;
	width: 100%;
	position: relative;
	&-zag {
		text-align: center;
		font-size: 70px;
		font-weight: 700;
		font-family: $font-bebas-bold;
		color: $dark;
		text-transform: uppercase;
		padding-top: 30px;
		line-height: 1em;
	}
	&-center {		
		font-size: 18px;
		
		margin-top: 6%;		
		//width: 50%;
		//@include centerer(true, true);
		ul {
			padding-left: 0;
			li {
				list-style-type: none;
				padding: 8px 0;
				vertical-align: bottom;
				img {
					margin-right: 14px;
					float: left;
				}
			}
		}
	}
	&-left, &-right {
		float: left;
		color: #fff;
		padding: 20px 70px;
		width: 50%;
		padding-bottom: 14%;
	}
	&-left {
		border-right: 2px solid #fff;
	}

	&-left-text-h2, &-right-text-h2 {
		font-family: $font-bebas-bold;
		font-weight: 300;
		font-size: 24px;
		text-transform: uppercase;
		padding: 20px 0 40px 0;
	}
	&-left-text-h2 {
		text-align: right;
	}
	&-right-text-h2 {
		text-align: left;
	}
	&-left-text {
		text-align: right;
	}
	&-right-text {
		text-align: left;
		li {
			margin-bottom: 40px;
			height: 40px;
			line-height: 40px;			
			img {
				vertical-align: top;
			}
		}
		li:last-child {

			line-height: 1.2em;
		}
	}
	&-right-producer {
		font-weight: 300;
		font-size: 14px;
	}
}

.block-3 {
	height: 100%;
	width: 100%;
	//position: relative;
	background-color: #000;
	padding-top: 120px;
	&-wrap {
		//position: relative;
		//height: 60vh;
	}
	&-feat-1, &-feat-3, &-feat-6 {
		//position: absolute;
		width: 50%;
	}
	&-feat-1 {
		margin-left: 100px;
	}
	&-feat-3 {
		margin-left: 340px;

	}
	&-feat-6 {
		margin-left: 620px;
	}
	&-feat-number {		
		float: left;		
		margin-right: 10px;
			display:inline;
		img {

		}
	}
	&-feat-text {
		color: #fff;
		font-size: 36px;
		text-transform: uppercase;
		font-weight:normal;
		font-family: $font-bebas-bold;
		line-height: 1.15em;
		margin-left: 10px;
		//max-height: 121px;
		vertical-align: text-top;
		display:block;
		padding : 0;
    	border : 0;
		display:inline-block;
		i {
			font-size: 28px;			
		}
	}
	&-bottom {
		clear: both;
		color: #fff;
		text-align: right;
		font-size: 18px;
		font-weight: normal;
		padding: 35px 0;		
		ul {
			padding-left: 0;
			li {
				list-style-type: none;
			}
		}
	}
	&-form{
		background: rgba(255,255,255,.4);
		width: 100%;
		margin: auto;
		text-align: center;
		margin-bottom: 30px;
		.form-group{padding-left:10px;margin: 20px 0;margin-left: 10px}
		.form-btn{padding: 0;margin: 40px 0;}
		.btn {padding: 10px 25px;font-size: 14px;background: #1C4B69;border-color: #1C4B69;
			&:hover, &:focus{
			    color: #fff;
			    background-color: #007fcc;
			    border-color: #0079c2;
			}
		}
	}
}

.block-4 {
	//height: 100vh;
	padding: 30px 0 30px 0;
	&-h2, &-h3 {
		text-align: center;
		font-family: $font-bebas-bold;
		font-weight: normal;
		text-transform: uppercase;
	}
	&-h2 {		
		font-size: 48px;		
	}
	&-h3 {		
		font-size: 28px;
		margin-bottom: 30px;
	}
	&-description {
		margin: 40px 0;
		font-size: 16px;
		&-punkt {
			padding: 2px 0;
			span {
				font-weight: bold;
				font-family: "GloberBold";
			}
			i {
				font-size: 14px;
			}
		}
		&-authors {	
			margin-top: 30px;
		}
		&-author {
			padding: 2px 0;			
			span {
				font-weight: bold;
			}
		}	
	}
}

.slider {
 	margin-top: 50px;
}
.bx-wrapper .bx-viewport {
	border: none;
	box-shadow: none;
}
.outside {
	text-align: center;
	margin-top: 30px;
}



footer {
	background-color: $dark;
	height: 160px;
	line-height: 160px;
	color: #fff;	
	font-weight: 700;
	font-size: 32px;
}
.footer {
	&-year {
		text-align: center;
		font-family: $font-bebas-bold;
		font-weight: normal;
		font-size: 32px;
	&-site {
		
		span {
			

		}
	}
}
}
.footer-site {
	font-size: 22px;
	a {
		color: #fff;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.footer-site span {
	font-size: 14px;
	font-weight: 400;
}
//forms
.map {
	position: relative;
	&-block{
		position:absolute;
		width: 100%;
		top:150px;
		height: 0;
	}
	&-form{
		background: rgba(255,255,255,.6);
		width: 300px;
		margin: auto;
		text-align: center;
		padding: 40px 10px;
		.form-group{padding: 0 20px;}
	}
}
.modal {
	&-footer{
	    background-color: #009fff;
	    border-color: #009fff;
	    text-align: center;
	}
	&-href{
		color: #fff;
		&, &:hover, &:focus{
			text-decoration:none;
		}
	}
}
.form{
	&-legend{
		font-size: 12px;
	}
}



//ARROWS
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer; 
  width: 70px;
  height: 90px;
}

.left {
  left: 42%;
}

.right {
  left: 58%;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}